{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "base.css" %}">
    <link rel="stylesheet" href="{% static "home/home.css" %}">
    <link rel="stylesheet" href="{% static "pageCard/pageCard.css" %}">
    <title>Document</title>
</head>
<body>
    <h1>Hie</h1>
    {% include "login.html" %}
    {% include "register.html" %}
    {% include "logout.html" %}
    <div class="base-container">
        <header>
            {% block header %}
                    <nav>
                            <button id="btnHome"><a href="/">MTZ</a></button>
                        {% if request.user.is_authenticated %}
                            <button popovertarget="logout" id="btnLogout">Выход</button>
                        {% else %}
                            <button popovertarget="login" id="btnLogin">Вход</button>
                        {% endif %}
                    </nav>
                    <form action="" method="post" id="formSearch">
                        {% csrf_token %}

                        <input type="search" class="inputSearchElements" name="search" id="inputSearch" placeholder="Искать на мтз">
                        <button type="submit" class="inputSearchElements" id="submitSearch"><img src='C:\Users\admin\Desktop\ecomProject\static\icons\iconSubmitSearch.png' class='bottomPanelIcon'/></button>
                    </form>
            {% endblock header %}
        </header>
        <main>
            <div id="main-container">
            {% block main %}
            {% endblock main %}
            </div>
        </main>
        <footer>
            {% block footer %}{% endblock footer %}
        </footer>
    </div>
    <script src="{% static '/base.js' %}"></script>
    <script src="{% static '/login.js' %}"></script>
    <script src="{% static '/logout.js' %}"></script>
    <script src="{% static '/register.js' %}"></script>
    <script src="{% static '/pageCard/pageCard.js' %}"></script>
</body>
</html>