
#cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 30px 2% 0px 2%;
}
.cardProd{
    padding: 11px;
    background-color: white;
    border-radius: 15px;
}
.cardProd > div{
    font-size: 1.5rem;
}

.cardProd > div > img{
    border-radius: 15px;
}